<div class="boxes-container">
  <div class="table-container">
    <div class="table-head">
      <h3>Client List</h3>
    </div>
    <table>
      <thead>
        <th>Sr No</th>
        <th>Person Name</th>
        <th>Company Name</th>
        <th>Contact No</th>
        <th>City</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Developer</td>
          <td>Developer</td>
          <td>Developer</td>
          <td>Developer</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-container">
    <div class="form-head">
      <h3>New Client</h3>
    </div>
    <form action="">
      <div class="wrapper">
        <label for="name">Person Name : </label>
        <input type="text" id="name" />
      </div>
      <div class="wrapper">
        <label for="company">CompanyName : </label>
        <input type="text" id="company" />
      </div>
      <div class="wrapper">
        <label for="contact">Contact No : </label>
        <input type="number" id="contact" />
      </div>
      <div class="wrapper">
        <label for="city">City : </label>
        <input type="text" id="city" />
      </div>
      <div class="wrapper">
        <label for="state">State : </label>
        <input type="text" id="state" />
      </div>
      <div class="wrapper">
        <label for="pin"> Pin code : </label>
        <input type="number" id="pin" />
      </div>
      <div class="wrapper">
        <label for="address">Address : </label>
        <textarea name="" id="address"></textarea>
      </div>
      <div class="wrapper">
        <label for="strength">Employee strength : </label>
        <input type="text" id="strength" />
      </div>
      <div class="wrapper">
        <label for="gst">GstNo : </label>
        <input type="text" id="gst" />
      </div>
      <div class="wrapper">
        <label for="reg">RegNO : </label>
        <input type="text" id="reg" />
      </div>
      <div class="submit">
        <button class="save">Submit</button>
        <button>Reset</button>
      </div>
    </form>
  </div>
</div>
