<div class="container">
  <div class="form-header">
    <h3>Login</h3>
  </div>
  <form action="">
    <div class="form-element">
      <label for="username">User Name</label>
      <input
        [(ngModel)]="credentials.username"
        type="text"
        id="username"
        name="username"
      />
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <span (click)="changeProp()" class="password-toggle-icon">
        <i
          [className]="type() == 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"
        ></i>
      </span>
      <input
        [(ngModel)]="credentials.password"
        [type]="type()"
        id="password"
        name="password"
      />
    </div>

    <div class="form-element button">
      <button (click)="handleSubmit()" class="btn" type="submit">LOGIN</button>
    </div>
  </form>
</div>
<div class="button-container">
  <button class="first-button"></button>
  <button class="second-button"></button>
</div>
